@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

button{
  cursor: pointer;
}
.breadcrumb{
  display: flex;
}
.breadcrumb > *:not(:last-child)::after{
  content: ">";
  margin-inline: 10px;
  
}
#home{
  display: grid;
  grid-template-areas: "heroSection  "
                       "taskSection"
                       "commentSection"
}
#heroSection{
  grid-area: heroSection;
}
#taskSection{
  grid-area: taskSection;
}
#commentSection{
  grid-area: commentSection;
}

